.navcolor{
    color:#6BD5FF;
}
.box{
display: flex;
  justify-content: left;   
}
.imgcontainer{
    width: 15rem;
    margin-left: 5rem;
}
.imgcontainer2{
    width: 20rem;
    height: 30rem;
    margin-left: 5rem;
}
body{
    background-image: url(/pictures/background.png);
}